body {
    height: 100vh;
    width: 100 vh;
    background-color: rgb(231, 236, 231);
    font-family: 'Bangers', cursive;
}
.wrapper {
  display: grid;
  grid-template-rows: 20vh 360px 15vh 20vh;
  grid-template-columns: 25% auto 25%;
}
.tLeft {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topCent {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
}
.tRight {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
}
.score {
    height: 100px;
    width: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 30px
}
img {
    border: 2px solid black;
    border-radius: 30px;
}
h1 {
    font-size: 4em;
    line-height: 20px;
}
ul {
    list-style: none;
    
    
}
li {
    background-color: white;
    float: left;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 38px;
}
#start  {
    height: 100px;
    width: 200px;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    

}
.buttons {
    grid-row: 4 / span 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;    
}
.hidden {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden div {
    color: white;
    background-color: white;
    float: left;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    width: 50px;
    line-height: 50px;
    border: 2px solid black;
    border-radius: 4px;
}